<section class="hero gap0">

    <div id="hero-left" class="animated fadeIn" style="background-image: url({{ .fullImage  }});">
    </div>

    <div id="hero-right">

        <div class="animated fadeIn">

            <div class="pb-2">
                <div class="icon">
                    <img src="/imgs/logo.png" alt="Logo" />
                </div>
                <h1 class="font-logo mb-2">{{ .title }}</h1>
                <div class="cred-line">MBCHB Auckland (Distinction), PGDipSurgAnat, ChM&nbsp;(Edinburgh), FRACS
                </div>
                <div class="pt-2">
                    <div class="tag-line large mb-0">{{ .tagline }}.</div>
                </div>
                <div class="py-4 text-center">
                    <a href="#contact" class="btn">Find / Contact me <i class="lni lni-arrow-downward"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>