@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Italiana&display=swap');
$font-title: 'Italiana', serif; // Antic Didone
$font-body: 'Work Sans', sans-serif;
$font-logo: 'Italiana', serif;

$black: #11151F;
$white: #FFFDFD;
$white-off: #F5EFED;

$grey-1: #dcdde2;
$grey-2: #dddee3;
$grey-3: #70798C;
$grey-4: #706C61;
$grey-5: #2D3142;

$gold: #F5EFED; // #C46D5E;
$yellow: #E28413;
$orange: #F46036;
$orange-dark: #D7263D;
$red: #CE4257; // D33F49 | CE4257
$red-dark: #832232;
$pink: #F7B2B7; // E5625E
$purple: #88498F;
$blue-darker: #07203f;
$blue-dark: #0267C1; // #758BFD
$blue: #B1EDE8; // #80ADA0 | 58A4B0
$aqua: #70F8BA;
$mint: #8AEA92;
$green: #6CAE75;
$green-dark: #028090; // 1D7874
$beige: #d9aa90;
$brown: #a65e46;

// Link states
$link: $orange;
$hover: $red;

$link-light: $blue;
$link-light-hover: $blue-dark;

$button-primary: $link;
$button-primary-hover: $hover;

// header
$page-header-bg: $white;
$page-header-color: $black;
$page-header-link-color: $gold;
$page-header-link-hover-color: $white;
$page-header-btn-link-color: $gold;
$page-header-btn-link-hover-color: $orange;

// page colours
$body-bg: $white;
$body-color: $blue-darker;
$bg-page-section: $black;

// Hero
$hero-bg: $blue-darker;
$hero-color: $green;
$hero-supporting-text-color: $white-off;
$hero-icon: $gold;
$icon-big: $gold;
$cred-line: $grey-1;

// blockquote
$blockquote-bg: $blue-darker;
$blockquote-color: $gold;
$blockquote2-bg: $blue-darker;
$blockquote2-color: $gold;

// blocks
$block-bg: $white-off;
$block-color: $blue-darker;

$block-alt-bg: $white-off;
$block-alt-color: $blue-darker;

// footer
$page-footer-bg: $white-off;
$page-footer-color: $blue-darker;
$page-footer-link-color: $orange;
$page-footer-link-hover-color: $red;

$page-footer-banner: $blue-darker;
$page-footer-banner-color: $grey-2;

// overrides
// h1,
// h2 {
//     color: $green;
// }

h3,
h4,
h5,
h6 {
    font-family: $font-body !important;
}

.border-bottom-gold {
    border-bottom-color: $blue-darker !important;
}

.border-top-gold {
    border-top-color: $blue-darker !important;
}