{{ partial "components/hero" (dict "title" "Dr Suheelan Kulasegaran" "tagline"
"Upper Gastrointestinal, Bariatric, Laparoscopic Surgeon, General Surgeon and Endoscopist" "fullImage"
"/imgs/hero.jpeg") }}

<section class="content content-block-alt animated fadeIn">
    <div class="">
        <div class="container">
            {{/* <div class="text-center" style="font-size: 60px"><i class="lni lni-pulse"></i></div>
            <h2 id="about" class="scroll-offset">About</h2> */}}
            <div class="content mx-auto">
                <div class="mb-2">
                    <h2 class="mb-6">About</h2>
                    <div class="two-columns">
                        <p>
                            Dr. Suheelan Kulasegaran is a New Zealand trained Upper Gastrointestinal, Bariatric, Laparoscopic Surgeon, General
                            Surgeon and Endoscopist. He grew up in Hamilton and graduated with Distinction from the University of Auckland Medical
                            School. After earning his Postgraduate Fellowship in General Surgery from the Royal Australasian College of Surgeons, he
                            completed a year of sub-specialist Oesophago-Gastric and Bariatric fellowship training at the Royal North Shore Hospital
                            in Sydney, Australia. The Royal North Shore is a major university teaching hospital that performs high volume Bariatric, Hiatal and
                            Oesophago-Gastric cancer surgery. He then continued further subspecialist training as a Senior Clinical Oesophago-Gastric Fellow at
                            the Norfolk and Norwich University Hospital, United Kingdom where he further developed advanced skills in thoracoscopic 
                            and laparoscopic upper gastrointestinal surgery.
                        </p>
                        <p>
                            Following this, he served as a Consultant Oesophago-Gastric Surgeon at the Norfolk and Norwich University Hospital for a
                            year. Dr. Kulasegaran gained invaluable training and experience working alongside international leaders within the field
                            of Minimally Invasive Upper Gastrointestinal Surgery. The Norfolk and Norwich University Hospital is one of the largest 
                            trusts in the United Kingdom. Renowned for its excellence in Oesophago-gastric surgery, it has been recognised as one of 
                            the top performing unit in the United Kingdom and Europe.
                        </p>
                        
                        <p>
                            During his tenure, Dr. Kulasegaran completed advanced robotic surgery courses, received robotic accreditation, and spent
                            time at various leading institutes in the Netherlands, France, and the United Kingdom. He completed a Master of Surgery
                            from the University of Edinburgh. He is actively involved in Upper Gastrointestinal and Bariatric research and has
                            published extensively on benchmarking standards and quality performance indicators in the field of Oesophago-Gastric
                            cancers.
                        </p>

                        <p>Dr. Suheelan Kulasegaran consults at Auckland Surgical Associates and Surgical Weight Solutions, and currently holds the position of an Honorary Senior Lecturer at the University of Auckland.</p>
                        
                        <p>In his public practice at the North Shore and Waitakere Hospital, Auckland, he specialises in Bariatrics, Malignant and
                        Benign diseases of the Oesophagus and Stomach, Reflux disease, Hiatal hernias, Gallbladder disease, and hernias.</p>
                        
                        <p>Available for both urgent and non-urgent consults. Dr. Kulasegaran is dedicated to providing excellent care for patients
                        and their families and can accommodate short-notice appointments.</p>

                        <div class="mt-2 pt-4">
                            <h4 class="border-bottom-gold">Areas of specialisation</h4>
                            <ul class="pl-2">
                                <li>Minimally Invasive Management of Benign and Malignant diseases of the Oesophagus and Stomach (Thoracoscopic and Laparoscopic)</li>
                                <li>Laparoscopic Weight Loss Surgery including complex revisional weight loss surgery</li>
                                <li>Laparoscopic Anti-Reflux surgery</li>
                                <li>Laparoscopic Hiatal Hernia repair</li>
                                <li>Laparoscopic Cholecystectomy</li>
                                <li>Laparoscopic repair of Inguinal Hernia</li>
                                <li>Diagnostic and interventional Upper Gastrointestinal endoscopy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="animated fadeIn bg-white">
        <div class="py-5">
            {{/*  <h2 class="mb-4 gold">Professional memberships:</h2>  */}}
            <div class="grid five middle text-center gap2 working-with px-2">
                <div>
                    <a href="https://aanzgosa.org/" target="_blank">
                        <img src="/imgs/logo_AANZGOSA.png"
                            title="The Australian and Aotearoa New Zealand Gastric and Oesophageal Surgery Association" />
                    </a>
                </div>

                <div>
                    <a href="https://anzmoss.com.au" target="_blank"><img src="/imgs/logo_anzmoss.png"
                            alt="Australian &amp; New Zealand Metabolic and Obesity Surgery Society" /></a>
                </div>

                <div>
                    <a href="https://www.ifso.com/" target="_blank"><img src="/imgs/logo_ifso.png" alt="The International Federation for the Surgery of Obesity and metabolic disorders" style="max-width: 140px" /></a>
                </div>

                <div>
                    <a href="https://www.nzags.co.nz/" target="_blank"><img src="/imgs/logo_nzags.jpg"
                            alt="New Zealand Association of General Surgeons" /></a>
                </div>

                <div>
                    <a href="https://www.surgeons.org/" target="_blank"><img src="/imgs/logo_college_of_surgens.png" alt="Royal Australasian College of Surgeons" /></a>
                </div>
    
            </div>
        </div>
</section>

<section class="quote content-block">
    <div>
        <blockquote>Blending precision, compassion and the latest advancements in Minimally Invasive Upper GI and Bariatric surgery to
        deliver exceptional, cutting edge care.</blockquote>
    </div>
    <div></div>
</section>

<section class="animated content-block-alt fadeIn proceedure-block">
    <div class="container">
        <h2 id="services" class="scroll-offset">Services</h2>
        <p class="mb-6">Suheelan, alongside his highly trained and experienced multidisciplinary team, provides expert and comprehensive
        surgical care, ensuring you are cared for at every step of your journey. From meticulous pre operative assessment to dedicated ongoing
        monitoring. Passionate about patient outcomes, he ensures 24/7 availability for advice, delivering holistic,
        compassionate care tailored to each individual's journey.</p>

        <div class="grid two gap4 col-gap">
            <div class="py-2">
                <h4 class="border-bottom-gold">Upper Gastro-Intestinal Surgery</h4>
                <p>Minimally invasive Upper Gastrointestinal surgery involves surgical procedures using small incisions to treat conditions
                on the upper part of the digestive system including the Oesophagus, Stomach and first part of the intestine to treat
                various conditions.</p>
                    <ul>
                        <li>Laparoscopic/Thoracoscopic management of Oesophageal and Gastric Cancers</li>
                        <li>Laparoscopic Anti-Reflux disease</li>
                        <li>Laparoscopic Hiatal hernia repair including complex revisional hiatal hernia surgery</li>
                        <li>Laparoscopic Heller Myotomy/Fundoplication for Achalasia and Oesophageal motility disorders</li>
                    </ul>
            </div>

            <div class="py-2">
                <h4 class="border-bottom-gold">Bariatric Surgery</h4>
                <p>Bariatric Surgery isn't just about weight loss, it's about improving overall health, increasing energy levels, mobility
                and helping people live longer and healthier lives.</p>
                    <ul class="mb-3">
                        <li>Laparoscopic Roux-en-Y Gastric Bypass</li>
                        <li>Laparoscopic One Anastomosis Gastric Bypass</li>
                        <li>Laparoscopic Sleeve Gastrectomy</li>
                        <li>Laparoscopic Revisional Bariatric Surgery including conversion to Gastric Bypass</li>
                        <li>Laparoscopic Removal of Gastric Band</li>
                    </ul>
                
                <div class="p-2 bg-blue-darker white grid two middle force" style="--columns: auto 1fr">
                    <div class="xx-large"><i class="lni lni-bell-1"></i></div>
                    <div class="font-size-18">No referral needed, simply <a href="#contact">contact us</a> to make an appointment.</div>
                </div>

            </div>

            <div class="py-2">
                <h4 class="border-bottom-gold">General Surgery</h4>
                <p>Minimally Invasive General Surgical procedures primarily focussing on the abdominal organs, digestive tract or soft
                tissue such as skin.</p>
                    <ul>
                        <li>Laparoscopic Cholecystectomy for management of Gallbladder Pathology</li>
                        <li>Laparoscopic and open management of Groin and Abdominal Wall hernias</li>
                        <li>Surgical excision of Lumps and Bumps</li>
                        <li>Investigation of Non Specific Abdominal pain</li>
                    </ul>
            </div>

            {{/*  <div class="py-2">
                <h4 class="border-bottom-gold">Laparoscopy</h4>
                <p>A minimally invasive surgical procedure that uses a small camera and instruments inserted through
                    tiny incisions to examine or operate on organs within the abdomen or pelvis.</p>
                <ul>
                    <li>Laparoscopic removal of gastric band</li>
                </ul>
            </div>

            <div class="py-2">
                <h4 class="border-bottom-gold">Laparoscopic cholecystectomy</h4>
                <p>Laparoscopic cholecystectomy is a minimally invasive surgical procedure to remove the gallbladder using small incisions
                and a camera.</p>
                <ul>
                    <li>Laparoscopic cholecsytectomy for gallbladder pathology such as gallstones</li>
                    <li>Laparoscopic management of groin and abdominal wall hernias</li>
                    <li>Surgical excision of lumps and bumps</li>
                    <li>Investigation of non specific abdominal pain</li>
                </ul>
            </div>  */}}

            <div class="py-2">
                <h4 class="border-bottom-gold">Endoscopy</h4>
                <p>Endoscopy is a medical procedure completed under sedation and monitoring using a flexible tube with a light and camera
                to visualise the inside of the digestive tract.</p>
                <ul>
                    <li>Diagnosis and Interventional Upper Gastrointestinal Endoscopy</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="quote2 content-block">
    <div></div>
    <div>
        <blockquote>Successful surgical outcomes are built on the foundation of team work and excellent perioperative care. I work as part
        of the most experienced Bariatric/Upper Gastrointestinal team in Auckland, ensuring every patient receives expert,
        holistic care throughout their journey to better health.</blockquote>
    </div>
</section>
